$primaryColor: #39CDCC;
$textColor: #000;
$backgroundColor: #FFF;
$white: #FFF;
$navyBlue: #213F7D;
$greyishBlue: #545F7D;
$dashboardBackground: rgb(253, 253, 253);

@mixin  flexContent($justifyContent, $flexDirection) {
    display: flex;
    justify-content: $justifyContent;
    align-items: center; 
    flex-direction: $flexDirection;
}
@mixin  gridCenter() {
    display: grid;
    place-content: center;
}