@import "./variables";

.board-container{
    position: absolute;
    top: 23rem;
    box-sizing: border-box;
width: 1037px;
height: 440px;
overflow-y: hidden;
left: 347px;
background: #FFFFFF;
border: 1px solid rgba(33, 63, 125, 0.06);
box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
border-radius: 4px;
&_headerList{
    @include flexContent(space-between, row);
    padding: 1.5rem;
}
&_customersDetails{
    @include flexContent(space-between, row);
    padding: 0.5rem 1.5rem;
    .text{
// width: 154px;
height: 17px;
// left: 1006px;
top: 510px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #545F7D;
    }
}
}

.singleItem{
    @include flexContent(center, row);
    width: max-content;
    .title{
        margin-right: 0.5rem;
height: 15px;
left: 373px;
top: 458px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: flex-end;
text-transform: uppercase;
color: $greyishBlue;
    }
}
tbody{
    padding: 10rem;
    gap: 1rem;
}
th{
    margin: 2rem 0;
    padding:1rem;
}
td {
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);;
    padding:1rem;
    text-align: left;
    height: 17px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #545F7D;
.statusBtn{
    padding: 0.3rem;
    border-radius: 100px;
    border: none;
    width: 100%;
    text-transform: capitalize;
    &.inactive{
background: lighten($greyishBlue, 50%);
color: $greyishBlue;
    }
    &.active{
background: lighten($activeColor, 40%);
color: $activeColor;
    }
    &.pending{
background: lighten($pendingColor, 50%);
color: $pendingColor;
    }
    &.blacklisted{
background: lighten($blacklistedColor, 50%);
color: $blacklistedColor;
    }
}
  }
